# توکن رباتت که از BotFather می‌گیری
BOT_TOKEN=

# آیدی عددی تلگرام خودت (فروشنده) - از @userinfobot بگیر
ADMIN_ID=

# آدرس کیف پول USDT خودت - حتماً شبکه TRC20 (ترون) باشه
WALLET_ADDRESS=

# قیمت اکسپرت به دلار (USDT) - فقط عدد، بدون علامت $
PRICE=50
